<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appstore">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ServicesDetailsActivity"></activity>
        <activity android:name=".UpdateServiceActivity" />
        <activity
            android:name=".Store"
            android:label="@string/title_activity_store"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CreateDichVuActivity" />
        <activity android:name=".CreatePhanBonActivity" />
        <activity android:name=".TheNganHangActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".ChangePassword" />
        <activity
            android:name=".UpdateProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LichSuGiaoDichActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RutTienActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DoanhThuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HomeChatActivity" />
        <activity
            android:name=".CreateProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".DialogActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FormRegister" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".BookingListActivity" />
        <activity android:name=".BookingDetailsActivity" />
        <activity android:name=".BookingFinishedListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".BookingFinishedDetailsActivity" />
        <activity android:name=".BookingRejectedListActivity" />
        <activity android:name=".BookingRejectedDetailsActivity" />
        <activity android:name=".BookingProcessingListActivity" />
        <activity android:name=".BookingProcessingDetailsActivity" />
        <activity android:name=".ProductDetails" />
        <activity
            android:name=".DashboardStoreActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>